.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border-radius: 8px;
  margin-bottom: 16px;
}
.kwargTextInput {
  width: 100%;
}

.modalBody {
  padding: 1rem;
  overflow-y: auto;
  flex: 1;
  max-height: 80vh;
}

.tableWrapper {
  border-radius: 8px;
  border: 1px solid #cccccc;
  margin-bottom: 16px;
  max-height: 300px;
  overflow-y: auto;
}

.emptyTag {
  color: #b0b0b0;
  font-style: italic;
}

.processedAt {
  margin-top: 0.75rem;
  color: #747474;
  font-weight: bold;
}

.processedAtDate {
  color: inherit;
  font-weight: normal;
}

.newWindowButton {
  margin-top: 0.2rem;
}

.errorText {
  color: red;
}
