.card {
  border-radius: 8px;
  margin-bottom: 16px;
}

.modalBody {
  padding: 1rem;
}

.tableWrapper {
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #cccccc;
  margin-bottom: 16px;
}

.emptyTag {
  color: #b0b0b0;
  font-style: italic;
}
